# /etc/systemd/system/mongodb.service
# systemctl enable mongodb.service

[Unit]
Description=High-performance, schema-free document-oriented database
After=network.target

[Service]
User=root
Group=root
Restart=on-failure
ExecStart=/root/mongodb/bin/mongod --quiet --config /root/mongod.conf

[Install]
WantedBy=multi-user.target